.guess-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-row {
    display: flex;
}

.guess-cell {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.guess-cell-gray {
    background-color: gray;
}

.guess-cell-green {
    background-color: green;
}

.guess-cell-yellow {
    background-color: yellow;
}